:root {
  /* Accent */
  --color-Accent-900: #015C33;
    --color-Accent-800: #006837;
    --color-Accent-700: #1E794E;
    --color-Accent-600: #3D8A65;
    --color-Accent-500: #5B9B7B;
    --color-Accent-400: #79AC92;
    --color-Accent-300: #97BCA9;
    --color-Accent-200: #BDCDC0;
    --color-Accent-100: #D4DED6;
    --color-Accent-050: #E3E7E2;

    /* Gray */
    --color-Gray-900: #1D1C2C;
    --color-Gray-800: #333140;
    --color-Gray-700:  #484653;
    --color-Gray-600: #5D5B66;
    --color-Gray-500: #737079;
    --color-Gray-400: #88868D;
    --color-Gray-300: #B2B0B3;
    --color-Gray-200: #C7C5C6;
    --color-Gray-100: #DDDADA;
    --color-Gray-050: #E8E4E3;

    /* Black and White */
    --color-Black-1000: #080719;
    --color-White-000: #F2EFED;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
}
@media screen and (max-width: 450px) {
  body {
    width: 100vw;
  }
}
p {
  margin: 0;
}